<ion-header>
  <ion-toolbar>
    <ion-title>Update item</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Write your task here..." [(ngModel)]="task.name"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select [(ngModel)]="task.priority" placeholder="Priority">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="middle">Middle</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="task.date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-label>Category</ion-label>
      <ion-item>
        <ion-chip color="primary" *ngFor="let categorie of categories; let i = index" (click)="selectCategory(i)">
          <ion-label>{{categorie}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-button expand="full" (click)="updateTask()">Update task</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>